<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="https://github.com/ConnorJohnHughes" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/connor-hughes-26a369355/" target="_blank">LinkedIn</a></li>
    </ul>
</div>