<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="images/h-fav.jpg">
</head>
<body>
    <main>
        <div class="box">
                <h1>Connor Hughes</h1>

                
                <div class="profile-pic">
                    <img src="images/IMG_20250923_201504.jpg" alt="picture of me">
                </div>
                <%- include('partials/header') %>

                <div class="contact-info">
                    <p>hughes.connor@student.greenriver.edu </p>
                    <p>(253)-339-6373</p>
                </div>
   
                <div class="summary">
                    <h2>About Me</h2>
                        <p>A motivated future software engineer with a passion for problem solving </p>
                </div>

                <div class="education"> 

                    <h3>Education</h3>

                    <div class="schools">

                    <div id="grc">            
                        <p>Green River College<br> Auburn, Wa </p><p> 2025 - Present</p>
                    </div>
                    <div id="grc-info">
                        <p>Bachelor of Applied Science, <br>Expected June 2027 <br>
                        Major: Software Development <br>
                
                        </p>
                    </div>

                    <div id="bates">            
                        <p>Bates Technical College<br> Tacoma, Wa </p><p> 2024 - 2025</p>
                    </div>
                    <div id="bates-info">
                        <p>Associate of Applied Science,<br> Graduated June 2025 <br>
                        Major: Software Development <br>
                    
                        </p>
                    </div>

                    </div>
                        <div id="edu-lists">
                            <ul class="left-list">
                                <li>Object Oriented Programming</li>
                                <li>Data Structures</li>
                                <li>Web Development</li>
                                <li>Database Systems</li>
                            </ul>
                            <ul class="right-list">
                                <li>Software Engineering Principles</li>
                                <li>Github Procedures</li>
                                <li>Full Stack Development</li>
                                <li>APIs and Cloud Services</li>
                            </ul>
                        </div>
                    </div>
                    </div>

                <div class="skills">
                    <h4>Skills and Certifications</h4>
                    <div id="skills-info">
                        <div id="skills-list">
                            <ul>
                                <li>Languages: Java, JavaScript, SQL, C#, Python</li>
                                <li>Web: HTML/CSS, JSON</li>
                                <li>Tools: Git, Jupyter, Node.js</li>
                                <li>Github: Repos, Pages</li>
                            </ul>
                            <ul >
                                <li>React Native</li>
                                <li>Database Servers</li>
                                <li>Unity</li>
                            </ul>
                        </div>
                    </div>
                </div>   


                <div id="experience">
                    <h5>Experience</h5>
                    <div id="experience-year">            
                        <p><strong>Rust to Gold Dust Bullies</strong>- Tacoma, Wa </p><p> 2018 - Present</p>
                    </div>
                    <div id="experience-info">
                        Business Partner:
                            <ul id="experience-list">
                                <li>I help bring beautiful, happy dogs into loving homes by carefully 
                                    breeding and raising them with care and responsibility.</li>
                                <li>Business partner for the kennel</li>
                                <li>I took care of the dogs well being</li>
                            </ul>
                    </div>

                    </div>

        
    </main>
    
</body>
</html>