body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

main {
    background-color: white;
    width: 90%;
    max-width: 800px;
    margin: 5rem auto;
    border-radius: 1%;
    padding: 2rem;
    box-shadow: .5rem .5rem gray;
}

h1 {
    text-align: center;
}

.contact-group {
    display: flex;
    flex-direction: column;
}

#contact-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

#meet-div label {
    display: block;
}

#meet-div {
    display: flex;
}

.meet-group {
    width: 50%;
}
#other-group{
    width: 50%;
    display: none;
}

fieldset {
    border: none;
    margin: 2rem;
}

select {
    width: 95%;
    border-radius: .2rem;
}

#other {
    width: 95%;
}

input {
    border-radius: .2rem;
    border-width: .1rem;
}

textarea {
    border-radius: .2rem;
    width: 98%;
    height: 100px;
}

#message-area label {
    display: block;
}

#mailingDiv {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.mail-group {
    margin-bottom: 1rem;

}
#format-group{
    display: none;
}

button {
    margin-left: 3rem;
    background-color: rgb(50, 150, 50);
    border-radius: .2rem;
    color: white;
    padding: .3rem 1rem;
    border: none;
}
a{
    display: flex;
    justify-self: center;
}
.error{
    color: red;
    display: none;
}
span{
    padding-left: 3rem;
}
#returnBTN {
    display: inline-block;
    background-color: rgb(50, 150, 50);
    color: white;
    padding: .3rem 1rem;
    border-radius: .2rem;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
}